<div class="container">
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
    <img src={{imgUrl}}/>
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="text" name="size" [(ngModel)]="size">
            <canvas-whiteboard #canvasWhiteboard [options]="canvasOptions" [drawButtonClass]="'drawButtonClass'" [drawButtonText]="'Draw'" [clearButtonClass]="'clearButtonClass'" [clearButtonText]="'Clear'" [undoButtonText]="'Undo'" [undoButtonEnabled]="true" [redoButtonText]="'Redo'"
                [redoButtonEnabled]="true" [colorPickerEnabled]="true" [saveDataButtonEnabled]="true" [saveDataButtonText]="'Save'" [lineWidth]="25" [strokeColor]="'rgb(0,0,0)'" [shouldDownloadDrawing]="true" (onClear)="onCanvasClear()" (onUndo)="onCanvasUndo($event)"
                (onRedo)="onCanvasRedo($event)" (onSave)="onCanvasSave($event)">
            </canvas-whiteboard>
        </div>

    </ng-template>


</div>